body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornflowerblue;
}

h5 {
  font-weight: bold;
  font-size: large;
  margin: auto;
}

input {
  border-radius: 20px;
}

.card {
  display: flexbox;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px;
}
